@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
  color:#000000;
  font-family: 'Rubik Microbe', cursive;
  text-align:center ;
}

p {
  font-family: 'Pacifico', cursive;
  text-align: justify;
}

img {
  height: 360px;
  float: left;
}